@import url(https://fonts.googleapis.com/css?family=Nunito);

/* Navigation Styles */

nav ul {
    font-size: 0;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline-block;
    position: relative;
    width: 100px;
}

nav ul li a {
    color: black;
    display: block;
    font-size: 14px;
    padding: 15px 14px;
    transition: 0.3s linear;
    width: 100px;
}


nav ul li ul {
    display: none;
    position: absolute;

}

nav ul li ul li {
    display: block;
    width: 150px;
    background: white;
    z-index: 999;
}

nav ul li ul li:first-child {
    border-top: none;
}

nav ul li ul li a {
    display: block;
    padding: 10px 14px;
    width: 185px;
}

nav ul li ul li a:hover {

}

nav .fa.fa-angle-down {
    margin-left: 6px;
}

